.main-title {
background-color: #2c3e50;
color: white;
font-family: cursive;
text-align: left;
}

.login{
  color: #309ACE;
  text-align: right;
}

.ui-content {
  padding: 1px 10px;
  text-align: right;
  text-decoration: none;

}

.login-section {
  color: black;
  padding-right: 15px;
  text-align: right;
}
.start-btns {
  background-color: #2c3e50 ;
  color: white;
  font: 18px times;
  padding-right: 15px;
  text-align: right;
  word-spacing: 1px;
}

.button {
  background-color: #2c3e50 ;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}
.button:hover,
.button:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.underline {
  border-bottom: 1px solid #000000;
  display: block;
  width: 100%;
}

.welcome{
  font-family: cursive;
  font-size: 18px;
}

/* The Modal (background) */
.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none; /* Hidden by default */
    height: 100%; /* Full height */
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    position: fixed; /* Stay in place */
    top: 0;
    width: 100%; /* Full width */
    z-index: 1; /* Sit on top */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* The navigation bar */
.navbar {
    background-color: #2c3e50 ;
    overflow: hidden;
    padding: 0 20px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
}

/* Links inside the navbar */
.navbar a {
    color: white;
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 100px; /* Add a top margin to avoid content overlay */
}

body {
  min-height: 100%;
  min-height: 100vh;
  position: relative;
}
footer {
  background-color: #2c3e50 ;
  bottom: 0;
  color: white;
  font-family: cursive;
  font-size: 16px;
  height: 135px;
  padding: 45px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.upload-form {
text-align: right;
}
